---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');


.page-header {
  text-align: center;
  //background-color: white;
  //background: linear-gradient(to bottom, #857FB7, #A8D5D4);
  //background: linear-gradient(to bottom, #1a3c40, #377576, #e07a5f, #f4d35e);
  background: linear-gradient(188deg, #002e7a 0%, #00fdff 46%, #e0a190 46%, #e3ff80 100%);
/* Optional: match browser UI / overscroll */

  //background: linear-gradient(to bottom, #857FB7, #4b9b9a);
  //#4b9b9a

  //background: linear-gradient(to bottom, black, white);
  padding: 1rem 0;
}

.header-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}




  .project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 1.0
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color:#000560
    //font-family: 'Castoro', serif;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //font-family: 'Castoro', serif;
    //font-family: 'Padauk', sans-serif;
    //font-family: 'Crimson Text', serif;
    font-size: 16px;
    line-height: 1.5;
    color:#000000
}

a {
    color: #0388fc;
    text-decoration:none
}
